.filterDiv {
   
  background-color: #2196F3;
  color: #ffffff;
   
  text-align: center;
  margin: 2px;
}


.tech-bg-color{
  background-color: #289bde;

}
.tech-btn{
  background-color:#289BDE;
  font-weight: 600;
}
.tech-btn:hover{
  background-color:#2d93ce;
}
.nav-btn:hover{
  background-color:#289bde;
  color: white;
  border: 1px solid #289bde;
   
}
.nav-btn{
  background-color:light;
  border:1px solid #289bde;
  color: #289bde;
}
@media screen and (max-width:576px){
  .mobile-view{
    width: 100%;
    height: 150px;
    

  }
  header h1{
    font-size: 25px;
    font-weight: 600;
    margin-top: 20px;
  }
  header p{
    font-size: 15px;
    line-height: 100%;
   
  }
  .discover-courses{
    width: 400px!important;

  }
  .mobile-view-join{
    display:flex;
    flex-direction: column;
     
  }
   
  .ready-join h1{
   width: 300px;
     
  }
  .ready-join p{
    width: 300px;
    padding-right: 80px;
     
    
  }
   
  
}
